@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: black !important;
  background-color: white !important;
}
